:root {
        // colors
   --primary-color: #ffc400;
   --secondary-color:  #283693;
   --accent-color:  #ffffff;
   
       // text style
    --font-text: 'Roboto', sans-serif;
    --font-weight: 700;

    // font-size
    --xxs-size: 12px;
    --xs-size: 13px;
    --s-size: 16px;
    --m-size: 21px;
    --l-size: 25px;
    --xl-size: 27px;
    --xxl-size: 30px;
    --xxxl-size: 48px;

    
    // indents
    --max-width: 1024px;
    --min-width: 360px;
}